@model object
<div class="text-center">

    <h1 class="display-4">
        This is Contact us Page
    </h1>

    <p>Welcome to our company's "About Us" page. Here, you can learn more about our mission, values, and team.</p>

